<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style='color: #5aaafa'>
          Quarterbacks
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <table>
            <thead>
              <tr>
                <th>Player</th>
                <th>School</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @players.where(position: "QB").each do |player| %>
              <tr>
                <td>
                  <b><%= player.first_name %> <%= player.last_name %></b>
                </td>
                <td>
                  <i><%= player.school %></i>
                </td>
                <td>
                  <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                  <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style='color: #5aaafa'>
          Running Backs
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "RB").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style='color: #5aaafa'>
          Wide Receivers </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "WR").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style='color: #5aaafa'>
          Tight End </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "TE").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style='color: #5aaafa'>
          Offensive Tackles </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "OT").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style='color: #5aaafa'>
          Guards </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "G").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style='color: #5aaafa'>
          Centers </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "C").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style='color: #5aaafa'>
          Defensive Tackles </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "DT").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style='color: #5aaafa'>
          Defensive Ends </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "DE").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style='color: #5aaafa'>
          Outside Linebackers </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "OLB").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" style='color: #5aaafa'>
          Inside Linebackers </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "ILB").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" style='color: #5aaafa'>
          Cornerbacks </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "CB").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEleven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" style='color: #5aaafa'>
          Safeties </button>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @players.where(position: "S").each do |player| %>
            <tr>
              <td>
                <b><%= player.first_name %> <%= player.last_name %></b>
              </td>
              <td>
                <i><%= player.school %></i>
              </td>
              <td>
                <%= link_to add_player_to_board_path(player_id: player.id, id: @board.id), method: :patch do %>
                <%= fa_icon "arrow-circle-right", style: 'color: #5aaafa' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
