<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class='card' style="text-align:center;">
      <h5 class='card-header' id='card_header_3'>Players</h5>
    </div>
  </div>
</div>
<br />

  <div class="form-group">
    <% @player_map.each do | abv, name | %>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <%= link_to name, all_players_path(position: abv), class: 'btn btn-outline', id: '#all_players_button' %>
    </div>
    <% end %>
  </div>

<div class="container" id='all_player_table'>
  <table class='table'>
    <thead class='thead'>
      <tr>
        <th>Player</th>
        <th>School</th>
        <th>Position</th>
        <th>Composite Rating</th>
      </tr>
    </thead>

    <tbody>
  <% @players.each do |player| %>
    <tr>
    <td>
      <b><%= player.first_name %> <%= player.last_name %></b>
    </td>
    <td>
      <%= player.school %>
    </td>
    <td>
      <%= player.position %>
    </td>
      <td>
      <%= player.composite_rating %>
      </td>
      </tr>

    <% end %>
</tbody>
</table>
