<h1>All Quarterbacks</h1>

<div class="container">
  <ol>
  <% @players(position: "QB").each do |player| %>
    <li>
      <b><%= player.first_name %> <%= player.last_name %></b>
      School: <%= player.school %>,
      Position: <%= player.position %>,
      Rating: <%= player.composite_rating %>
    </li>
    <% end %>
</ol>
</div>
