<!DOCTYPE html>
<html>
<head>
  <title>My Draft Board</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
    <a class="navbar-brand" href="#">My Draft Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Our Story', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Us', contact_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create Your Own Board', boards_new_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Player Lists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'All Players', all_players_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Quarterbacks', all_players_path(position: "QB"), class: 'dropdown-item' %>
            <%= link_to 'Running Backs', all_players_path(position: "RB"), class: 'dropdown-item' %>
            <%= link_to 'Wide Receivers', all_players_path(position: "WR"), class: 'dropdown-item' %>
            <%= link_to 'Tight Ends', all_players_path(position: "TE"), class: 'dropdown-item' %>
            <%= link_to 'Offensive Tackles', all_players_path(position: "OT"), class: 'dropdown-item' %>
            <%= link_to 'Guards', all_players_path(position: "G"), class: 'dropdown-item' %>
            <%= link_to 'Centers', all_players_path(position: "C"), class: 'dropdown-item' %>
            <%= link_to 'Defensive Tackles', all_players_path(position: "DT"), class: 'dropdown-item' %>
            <%= link_to 'Defensive Ends', all_players_path(position: "DE"), class: 'dropdown-item' %>
            <%= link_to 'Outside Linebackers', all_players_path(position: "OLB"), class: 'dropdown-item' %>
            <%= link_to 'Inside Linebackers', all_players_path(position: "ILB"), class: 'dropdown-item' %>
            <%= link_to 'Cornerbacks', all_players_path(position: "CB"), class: 'dropdown-item' %>
            <%= link_to 'Safeties', all_players_path(position: "S"), class: 'dropdown-item' %>
          </div>
        </li>
      <ul class='nav navbar-inline'>
        <li>
    <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
    <% link_to 'Sign In', new_user_session_path %>
    <% end %>
  </li>
      </ul>
    </div>
  </nav>



  <%= yield %>
</body>
</html>
